body{
    background: #1c1c1c;
}

.NaviagtionBarContainer {
    position: relative;
    width: 100%; /* adjust based on your layout */
    height: 50px; /* adjust based on your layout */
}

.NaviagtionBar {
    background-color: #171717;
    outline-width: 2.5px;
    outline-color: #4b4b4b;
    outline-style: solid;
    left: 50%;
    top: 10px;
    width: 65%;
    height: 30px;
    position: absolute;
    border-radius: 50px;
    transform: translateX(-50%);
    z-index: 1;
}

.NaviagtionBarGlow {
    background-color: #00bcd4;
    opacity: 0; /* start at 0 opacity */
    position: absolute;
    left: 50%;
    top: 5px;
    width: calc(65% + 10px); /* matches the width of the navbar */
    height: 40px;
    transform: translateX(-50%);
    border-radius: 50px;
    filter: blur(2px);
    z-index: 0;
    transition: 1s ease; /* animate opacity */
}

.NaviagtionBarContainer:hover .NaviagtionBarGlow {
    opacity: 1; /* show the glow when parent is hovered */
    filter: blur(15px);
}
